<div class="row">
  <div id='control-panel' class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h1>Dettes et communes</h1>
    <h2>Hackathon Datafin - 15 et 16 Juin 2018</h2>

    <br/>

    <h3>Choisissez une année :</h3>
    <form name="formRangeYear" oninput="rangeYearValue.value = rangeYear.valueAsNumber">
      <input name="rangeYear" type="range" step="1" min="2000" max="2016" value="2016">
      <output name="rangeYearValue" for="rangeYear" >2016</output>
    </form>
  </div>
  <div id='map' class="col-xs-12 col-sm-12 col-md-8 col-lg-8"></div>
</div>
